# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Venvs / caches
.venv/
env/
venv/
.cache/
.pytest_cache/

# Carpeta de datos locales
data/
.ingest_cache/

# Git / IDE
.git/
.gitignore
.idea/
.vscode/

# Archivos de SO
.DS_Store
Thumbs.db
